@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["UsersPanel"];
}
@model CollectionsPortal.ViewModels.UserViewModel

<div class="text-center">
    <h2>@Localizer["ManageUsers"]</h2>
    <div>
         @foreach (var user in Model.Paginated())  
        {  
        <div id="userBlock" class="alert alert-secondary rounded-0">  
            <p><b>@Localizer["Email"]</b>@user.Email 
            <button id="block" onclick="location.href='@Url.Action("Block","admin", new {email = @user.Email})'"class="btn btn-primary">@if(user.LockoutEnd == null){@Localizer["Block"]}else{@Localizer["Unblock"]}</button>
            <button id="admin" onclick="location.href='@Url.Action("MakeAdmin", "admin", new {email = @user.Email})'" class="btn btn-success">@if(user.isAdmin){@Localizer["RemoveAdmin"]}else{@Localizer["AddAdmin"]}</button>
            <button id="delete" onclick="location.href='@Url.Action("Delete", "admin", new {email = @user.Email})'"  class="btn btn-danger">@Localizer["Delete"]</button></p>
        </div>  
        }  
  
    <ul class="pagination">  
        @for (int i = 1; i <= Model.PageCount(); i++)  
            {  
            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">  
                <a class="page-link" href="@Url.Action("Users", new { page = i })">@i</a>  
            </li>  
            }  
    </ul>  
    </div>
</div>
