@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Profile";
}
<h1 class="display-4">@Localizer["Hello"], @ViewBag.User</h1>
<div class="text-center">
    <a href="/collections/create/">
        <button class="btn btn-success">@Localizer["CreateNewCollection"]</button>
        </a>
    
    <h2>@Localizer["YourCollections"] </h2>
    @{
        foreach(var item in ViewBag.Collections)
        {
            <div><a href="/collections/?collectionId=@item.Id">@item.Name</a></div>
        }
    }
</div>
