@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Profile"];
}
<h1 class="display-4">@Localizer["Hello"], @ViewBag.User</h1>
<h2>@Localizer["YourCollections"] </h2>
<div class="text-center">
    <table id="collectionsTable" class="table table-hover">
        <thead>
            <tr>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Topic"]</th>
                <th>@Localizer["Items"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var collection in ViewBag.Collections)
            {
                <tr>
                    <th>
                        <a href="@Url.Action("Index", "Collections", new {collectionId = @collection.Id})"  style="text-decoration: none;">@collection.Name</a>
                    </th>
                    <th>
                        <p>@collection.Topic.Name</p>
                    </th>
                    <th>
                       @collection.Items.Count
                    </th>
                    <th>
                        @if(User.Identity.Name == ViewBag.User.UserName || User.IsInRole("Administrator"))
                        {
                             <button onclick="location.href='@Url.Action("Edit","Collections", new {collectionId = collection.Id})'" class="btn btn-primary">@Localizer["Edit"]</button>
                             <button onclick="location.href='@Url.Action("Delete", "Collections", new {collectionId = collection.Id})'" class="btn btn-danger">@Localizer["Delete"]</button>
                        }
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <button onclick="location.href='@Url.Action("Create", "Collections")'" class="btn btn-success">@Localizer["CreateNewCollection"]</button>
</div>
