@using Microsoft.AspNetCore.Mvc.Localization;
@using CollectionsPortal.Models;

@inject IViewLocalizer Localizer
@model CollectionsPortal.ViewModels.CreateItemViewModel;

<form method="post" enctype="multipart/form-data"  asp-controller="Item" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="collectionId" value="@ViewBag.Collection.Id">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Name">@Localizer["Name"]</label><br />
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">@Localizer["Description"]</label><br />
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            @for(var fields = 0; fields < ViewBag.Collection.FieldTemplates.Count; fields++)
            {
                <input type="hidden" asp-for="Fields[fields].FieldTemplates.Id" value="@ViewBag.Collection.FieldTemplates[fields].Id">
                
                switch(ViewBag.Collection.FieldTemplates[fields].DataType)
                {
                    case CollectionsPortal.Models.Type.integer:
                        //number input
                        <label>@ViewBag.Collection.FieldTemplates[fields].Name</label>
                        <input class="form-control" type="number" name=Fields[@fields].Value  placeholder="@Localizer["Enter"] @ViewBag.Collection.FieldTemplates[fields].Name">
                        break;
                    case CollectionsPortal.Models.Type.text:
                        //string input
                        <label>@ViewBag.Collection.FieldTemplates[fields].Name</label>
                        <input class="form-control" name="Fields[@fields].Value" placeholder="@Localizer["Enter"] @ViewBag.Collection.FieldTemplates[fields].Name">
                        break;
                    case CollectionsPortal.Models.Type.boolean:
                        //checkbox
                        <label>@ViewBag.Collection.FieldTemplates[fields].Name</label>
                        <input class="form-check-input" id="check@fields" type="checkbox" name="Fields[@fields].Value">
                        break;
                    case CollectionsPortal.Models.Type.textarea:
                        //textarea
                        <label>@ViewBag.Collection.FieldTemplates[fields].Name</label>
                        <textarea class="form-control" name="Fields[@fields].Value" placeholder="@Localizer["Enter"] @ViewBag.Collection.FieldTemplates[fields].Name"></textarea>
                        break;
                    case CollectionsPortal.Models.Type.dateTime:
                        //dateTime
                        <label>@ViewBag.Collection.FieldTemplates[fields].Name</label>
                        <input class="form-control" type="date" name="Fields[@fields].Value">
                        break;
                }
            }
        </div>
        <div class="form-group">
            <label asp-for="Tags">@Localizer["Tags"]</label>
            <input id="tag" asp-for="Tags" class="form-control"/>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mt-1">@Localizer["Create"]</button>
        </div>
    </div>
</form>