@using Microsoft.AspNetCore.Mvc.Localization;
@model CollectionsPortal.Models.Comment;

@{
    ViewData["Title"] = @ViewBag.Item.Name + @Localizer["item"];
}

@inject IViewLocalizer Localizer
<div class="container-fluid">
    <button onclick="location.href='@Url.Action("Index","Collections", new {collectionId = ViewBag.Item.Collection.Id})'" class="btn btn-primary">@Localizer["GoToCollection"]</button>
</div>
<div class="container-fluid">
    <h2 class="pb-2 border-bottom">@ViewBag.Item.Name:</h2>
     @if(@ViewBag.Item.imageUrl != null)
    {
        <div class="image" style="margin: 10px">
            <img alt="@ViewBag.Item.Name image"  widht="300" height="300" src="@ViewBag.Item.imageUrl" />
        </div>
    }
    <div class="row">
        @for(int field = 0; field < ViewBag.Fields.Count; field++)
            {
                <div id="fieldObject">
                <label>@ViewBag.Fields[field].FieldTemplates.Name</label>
                @switch(ViewBag.Fields[field].FieldTemplates.DataType)
                {
                    case CollectionsPortal.Models.Type.integer:
                        //number input
                        <input class="form-control" type="number" value="@ViewBag.Fields[field].Value" disabled>
                        break;
                    case CollectionsPortal.Models.Type.text:
                        //string input
                        <input class="form-control" type="text" value="@ViewBag.Fields[field].Value" readonly>
                        break;
                    case CollectionsPortal.Models.Type.boolean:
                        //checkbox
                        if (ViewBag.Fields[field].Value == "on")
                        {
                            <input class="form-check-input" type="checkbox" checked disabled>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" disabled>
                        }
                        break;
                    case CollectionsPortal.Models.Type.textarea:
                        //textarea
                        <textarea class="form-control" disabled>@ViewBag.Fields[field].Value</textarea>
                        break;
                    case CollectionsPortal.Models.Type.dateTime:
                        //dateTime
                        <input class="form-control" type="date" value="@ViewBag.Fields[field].Value" disabled>
                        break;
                }
                </div>
            }
    </div>
    <div class="row" id="likes">
        <h5>@Localizer["Likes:"] @ViewBag.Likes.Count</h5>
        @if(User.IsInRole("User"))
        {
            @if (ViewBag.isLiked != null && ViewBag.isLiked == true)
        {
                <button onclick="location.href='@Url.Action("Unlike", "Item", new{itemId = ViewBag.Item.Id})'" class="btn btn-danger w-25" id="like">@Localizer["unLike"]</button>
            }
            else
            {
                <button onclick="location.href='@Url.Action("Like", "Item", new{itemId = ViewBag.Item.Id})'" class="btn btn-success w-25" id="like">@Localizer["Like"]</button>
            }  
        }
    </div>
</div>
<div id="comments" class="container">
    @if (ViewBag.Comments.Count != 0 && ViewBag.Comments != null)
    {
        <h5>@Localizer["Comments:"]</h5>
        <div class="row"  id="comments">
            <div class="card mb-3" style="background-color: lightgray;">
                <div class="card-body">
                    <div class="d-flex flex-column">
                        @foreach (var comment in ViewBag.Comments)
                        {
                            <div class="w-100" style="margin:10px; background-color: ghostwhite; padding: 20px;">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h6 class="text-primary fw-bold mb-0">
                                        <a href="@Url.Action("Index", "Profile", new {userId = @comment.User.Id})">@comment.User.UserName</a>
                                        <span class="text-dark ms-2">@comment.Content</span>
                                    </h6>
                                    <span class="text-dark ms-5">@comment.CreatedDate</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    @if(User.IsInRole("User"))
    {
        <div id="writeComment">
                <div class="d-flex flex-start w-100">
                    <div class="w-100">
                        <h5>@Localizer["AddComment"]</h5>
                        <form method="post" asp-controller="Item" asp-action="Comment" asp-route-itemId="@ViewBag.Item.Id">
                             <input asp-for="CreatedDate" type="hidden" value="@DateTime.Now" />
                             <div class="form-outline">
                                <textarea asp-for="Content" class="form-control" id="textAreaComment" rows="3" placeholder="@Localizer["WriteComment"]"></textarea>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <button type="submit" class="btn btn-primary">@Localizer["Send"]</button>
                            </div>   
                        </form>      
            </div>
        </div>
    </div>
    }  
</div>