@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer
@model CollectionsPortal.ViewModels.CreateCollectionViewModel;
@{
    ViewData["Title"] = @Localizer["CreateCollection"];
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data"  asp-controller="Collections" asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Name">@Localizer["Name"]</label><br />
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-primary"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Topic">@Localizer["Topic"]</label><br />
                    <select asp-for="Topic.Id" class="form-control">
                        @{
                            foreach (var topic in ViewBag.Topics)
                            {
                                           <option value="@topic.Id">@topic.Name</option> 
                            }
                        }
                    </select>
                    <span asp-validation-for="Topic" class="text-primary"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile">@Localizer["ImageFile"]</label>
                    <input asp-for="ImageFile" type="file"  accept="image/jpeg,image/gif,image/png" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-primary"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">@Localizer["Description"]</label>
                    <textarea  id="textAreaDescription" class="form-control" rows="6" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-primary"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tags">@Localizer["Tags"]</label>
                    <input id="tag" asp-for="Tags" class="form-control"/>
                    <span asp-validation-for="Tags" class="text-primary"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fields">@Localizer["Fields"]</label>
                    <div id="fields">
                    </div>
                    <span asp-validation-for="Fields" class="text-primary"></span>
                    <a class="btn btn-primary" onclick="addInput()">@Localizer["AddFields"]</a>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">@Localizer["Create"]</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h5>@Localizer["Description preview"]</h5>
            <div id="descriptionPreview"></div>
        </div>
    </div>
</div>


