@using Microsoft.AspNetCore.Mvc.Localization;
@model CollectionsPortal.ViewModels.EditCollectionViewModel;
@{
    ViewData["Title"] = @Localizer["EditCollection"];
}
@inject IViewLocalizer Localizer

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data"  asp-controller="Collections" asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="collectionId" type="hidden" value="@ViewBag.Collection.Id" />
                <div class="form-group">
                    <label asp-for="Name">@Localizer["Name"]</label><br />
                    <input asp-for="Name" value="@ViewBag.Collection.Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-primary"></span>
                </div>
                @if(ViewBag.Collection.imageUrl != null)
                {
                    <h5>@Localizer["Current image"]</h5>
                    <img src="@ViewBag.Collection.imageUrl" alt="@ViewBag.Collection.Name" width="100" height="200">
                }
                <div class="form-group">
                    <label asp-for="ImageFile">@Localizer["ImageFile"]</label>
                    <input asp-for="ImageFile" type="file"  accept="image/jpeg,image/gif,image/png" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-primary"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">@Localizer["Description"]</label>
                    <textarea id="textAreaDescription" class="form-control" rows="5" name="Description">@ViewBag.Collection.Description</textarea>
                    <span asp-validation-for="Description" class="text-primary"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">@Localizer["Edit"]</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h5>@Localizer["DescriptionPreview"]</h5>
            <div id="descriptionPreview"></div>
        </div>
    </div>
</div>

