@using Microsoft.AspNetCore.Mvc.Localization;
@{
    ViewData["Title"] = @ViewBag.Collection.Name;
}
@inject IViewLocalizer Localizer
<div>
    @if(@ViewBag.Collection.imageUrl != null)
    {
        <div class="image" style="margin: 10px">
            <img alt="@ViewBag.Collection.Name image"  widht="300" height="300" src="@ViewBag.Collection.imageUrl" />
        </div>
    }
    <h2>@Localizer["Collection name"]:</h2>
    <p>@ViewBag.Collection.Name</p>
    <h3>@Localizer["Topic"]:</h3>
    <p>@ViewBag.Collection.Topic.Name</p>
    <h3>@Localizer["Description"]:</h3>
    <div hidden id="desc">@ViewBag.Collection.Description</div>
    <div id="descriptionData"></div>
    <h3>@Localizer["Tags"]:</h3>
    @foreach(var tag in ViewBag.Tags)
    {
        <b>@tag.Name</b>
    }
    <div>
        <table id="itemsTable" class="table table-hover table-sort" cellspacing="0", width="80%">
            <thead>
                <tr>
                    <th>@Localizer["ItemName"]</th>
                    <th>@Localizer["CreatedAt"]</th>
                    <th>@Localizer["Likes"]</th>
                    <th>@Localizer["Comments"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                        foreach(var item in ViewBag.Items)
                        {
                                                        <tr>
                                                            <td>@item.Name</td>
                                                            <td>@item.CreatedAt</td>
                                                            <td>@item.Likes.Count</td>
                                                            <td>@item.Comments.Count</td>
                                                            <td>
                                                                 <button onclick="location.href='@Url.Action("Index", "Item", new {itemId = item.Id})'" class="btn btn-success">@Localizer["Open"]</button>
                                                                  @if(User.Identity.Name != null)
                                                              {
                                                                  if(User.IsInRole("Administrator") || User.Identity.Name == ViewBag.Owner.UserName)
                                                                  {
                                                                          <button onclick="location.href='@Url.Action("Edit","Item", new {itemId = item.Id})'" class="btn btn-primary">@Localizer["Edit"]</button>
                                                                          <button onclick="location.href='@Url.Action("Delete", "Item", new {itemId = item.Id})'" class="btn btn-danger">@Localizer["Delete"]</button>
                                                                  }
                                                              }
                                                            </td>
                                                        </tr>
                        }
                    }
            </tbody>
        </table>
        <div class="container-fluid">
        @if(User.Identity.IsAuthenticated)
        {
           if(User.IsInRole("Administrator") || User.Identity.Name == ViewBag.Owner.UserName)
            {
                <button onclick="location.href='@Url.Action("Create","Item", new {collectionId = ViewBag.Collection.Id})'" class="btn btn-success">@Localizer["Create"]</button>
            }
        } 
        </div>
    </div>
</div>