@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer
<div class="container-fluid">
    <h2>@Localizer["CollectionName"] @ViewBag.Collection.Name Owner: @ViewBag.Owner</h2>
    <h2>@Localizer["CollectionItems"] </h2>
    @{
        if(User.Identity.Name != null)
        {
           if(User.IsInRole("Administrator") || User.Identity.Name == ViewBag.Owner.UserName)
            {
            <button onclick="location.href='@Url.Action("Create","Item", new {collection = ViewBag.Collection.Id})'" class="btn btn-success">@Localizer["AddItem"]</button>
            <button onclick="location.href='@Url.Action("Delete", "Collections", new {collection = ViewBag.Collection.Id})'" class="btn btn-danger">@Localizer["DeleteCollection"]</button>
            }
        }
        foreach(var item in ViewBag.Items)
        {
            <p>@item.Name</p>
        }         
    }
</div>