@using CollectionsPortal.Models;
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Search"];
}
@{

    if (ViewBag.items != null)
    {
        if(ViewBag.items.Count == 0)
        {
            <h1>@Localizer["Found no items"]</h1>
        }
        else
        {
            <h1>@Localizer["FoundItems"]:</h1>
            foreach (var item in (List<Item>)ViewBag.items)
            {
            <div class="card" style="width: 50%;">
            @if(item.imageUrl != null)
                    {
                        <img class="card-img-top" width="75" height="150" src="@item.imageUrl" alt="@item.Name @Localizer["image"]">
                    } 
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@Localizer["In collection"]: @item.Collection.Name @Localizer["Author"]: @item.Collection.User.UserName</p>
                    <a href="@Url.Action("Index", "Item", new {itemId = item.Id})" class="btn btn-primary">@Localizer["Open"]</a>
                </div>
            </div>
            }
        } 
    }
    if (ViewBag.collections != null)
    {
        if(ViewBag.collections.Count == 0)
        {
            <h1>@Localizer["Found no collections"]</h1>
        }
        else
        {
            <h1>@Localizer["FoundCollections"]:</h1>
            foreach (var coll in (List<Collection>)ViewBag.collections)
            {
            <div class="card" style="width: 50%;">
                @if(coll.imageUrl != null)
                    {
                        <img class="card-img-top" width="75" height="150" src="@coll.imageUrl" alt="@coll.Name @Localizer["image"]">
                    } 
                <div class="card-body">
                    <h5 class="card-title">@coll.Name</h5>
                    <p class="card-text">@coll.Description</p>
                    <a href="@Url.Action("Index", "Collections", new {collectionId = coll.Id})" class="btn btn-primary">@Localizer["Open"]</a>
                </div>
            </div>
        }
        }
    }
}