@using CollectionsPortal.Models;
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["TextSearch"];
}
@{
    if (ViewBag.items != null)
    {
        if(ViewBag.items.Count == 0)
        {
            <h1>@Localizer["Found nothing"]</h1>
        }
        else
        {
           <h1>@Localizer["Found items:"]</h1>
            foreach (var item in (List<Item>)ViewBag.items)
            {
             <div class="card" style="width: 18rem;">
                @if(item.imageUrl != null)
                    {
                        <img class="card-img-top" width="75" height="150" src="@item.imageUrl" alt="@item.Name @Localizer["image"]">
                    } 
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@Localizer["InCollection:"] @item.Collection.Name @Localizer["Author:"] @item.Collection.User.UserName</p>
                    <a href="@Url.Action("Index", "Item", new {itemId = item.Id})" class="btn btn-primary">@Localizer["Open"]</a>
                </div>
                </div>
            } 
        }  
    }
}