@using Microsoft.AspNetCore.Mvc.Localization;
@using CollectionsPortal.Models;

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HomePage"];
}

<div class="content">
    <h2>@Localizer["NewAdditions"]</h2> 
        @foreach(var item in (List<Item>)ViewBag.Items)
        {<div class="card" style="width: 50%; margin-bottom: 20px;">
            <div class="card-body">
                <div class="d-inline-flex">
                <a class="h5 ms-2" style="text-decoration: none;" href="@Url.Action("Index", "Item", new {itemId = item.Id})">@item.Name</a>
                <span class="text-dark ms-2"> @Localizer["Author"]: @item.Collection.User.UserName</span>
                </div>
            </div>
         </div>
        }
    <h2>@Localizer["BiggestCollections"]</h2>
    @{
        foreach(var coll in (List<Collection>)ViewBag.Collections)
        {
            <div class="card" style="width: 50%; margin-bottom: 20px;">
                <div class="card-body">
                    <div class="d-inline-flex">
                        <a class="h5 ms-2" style="text-decoration: none;" href="@Url.Action("Index", "Collections", new {collectionId = coll.Id})">@coll.Name</a>
                        <span class="text-dark ms-2"> @Localizer["Auhor"]: @coll.User.UserName</span>
                        <span class="text-dark ms-2"> @Localizer["AmountofItems"]:<span class="text-primary h5">@coll.Items.Count</span></span>
                    </div>
                </div>
            </div>
            }
        }
    <div class="container mt-5 col-6">
        <h2>@Localizer["Tags"]</h2>
        <ul class="cloud" role="navigation" aria-label="Tag Cloud">
        @{
            foreach(var tag in (List<Tag>)ViewBag.Tags)
            {
                     <li><a href="@Url.Action("Index", "Search", new {tag = @tag.Id})">@tag.Name</a></li>
            }
         }
        </ul>
    </div>
</div>
