@using Microsoft.AspNetCore.Mvc.Localization;
@using CollectionsPortal.Models;

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HomePage"];
}

<div class="content">
    <h2>@Localizer["NewAdditions"]</h2> 
    <div class="card">
        @foreach(var item in (List<Item>)ViewBag.Items)
        {
            <a href="@Url.Action("Index", "Item", new {itemId = item.Id})">@item.Name</a>
        }
    </div>
    <h2>@Localizer["BiggestCollections"]</h2>
    <div class="card">
        @foreach(var coll in (List<Collection>)ViewBag.Collections)
        {
            <a href="@Url.Action("Index", "Collections", new {collectionId = coll.Id})">@coll.Name</a>

        }
    </div>
    <div class="container mt-5 col-6">
        <h2>@Localizer["Tags"]</h2>
        <ul class="cloud" role="navigation" aria-label="Tag Cloud">
        @{
            foreach(var tag in (List<Tag>)ViewBag.Tags)
            {
                        <li><a href="@Url.Action("Index", "Search", new {tag = @tag.Id})">@tag.Name</a></li>
            }
         }
        </ul>
    </div>
</div>
